.page-perfil-admin {
  margin-left: 290px;
  position: relative;
}

.admin-perfil-title {
  font-size: 35px;
}

.campos-perfil-admin {
  font-size: 25px;
  margin: 5px;
}

@media only screen and ( max-width : 600px ) {

  .page-perfil-admin {
    margin-left: 120px;
    position: relative;
  }

  .admin-perfil-title {
    font-size: 30px;
  }

  .campos-perfil-admin {
    font-size: 20px;
    margin: 5px;
  }
}
