.Register_father {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 96vh;
  justify-content: center;
  width: auto;
}

.Register_Inputs {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: left;
  width: 70vw;
}

.Register_Inputs input {
  font-size: 25px;
  height: 2em;
}

.Register_CheckData {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
}

.Register_Button {
  align-items: center;
  display: flex;
  height: 4em;
  justify-content: center;
  width: 100%;
}

.Register_Button button {
  background: rgb(28, 209, 24);
  font-size: 1em;
  height: 3em;
  margin: 10px;
  width: 25vw;
}

.Register_Button button:hover {
  background-color: chartreuse;
  cursor: pointer;
}

.Register_Inputs label {
  font-family: sans-serif;
  font-size: 25px;
  line-height: 47px;
}

.Checkbox_Salesman {
  display: flex;
  justify-content: center;
  margin: 1em;
  width: 50vw;
}

.Checkbox_Salesman label {
  font-size: 1em;
  padding: 3px;
}
