.Sidebar_All {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 30%;
  z-index: 0;
}

.Admin_Sidebar_User {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  width: 100%;
}

.Admin_Sidebar_User p {
  color: white;
  font-size: 20px;
}

.Admin_Sidebar_All {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 30%;
  z-index: 0;
}

.Admin_Sidebar_All a {
  width: 80%;
}

.Sidebar_All a {
  width: 80%;
}

.Sidebar_Button {
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 6px;
  color: gray;
  cursor: pointer;
  font-size: 2vh;
  height: auto;
  text-decoration: none;
  width: 95%;
}

.Sidebar_Button:hover {
  background-color: white;
}

.Sidebar_User {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  width: 100%;
}

.Sidebar_User p {
  color: white;
  font-size: 20px;
}

.Sidebar_Exit {
  text-align: center;
  width: 100%;
}
